<div class="list-group">

<a class="list-group-item"
href="/">

Início

</a>

<a class="list-group-item"
href="/login">

Login

</a>

<a class="list-group-item"
href="/alunos">

Alunos

</a>

<a class="list-group-item"
href="/comentarios">

Comentários

</a>

<a class="list-group-item"
href="/admin">

Administração

</a>

<a class="list-group-item"
href="/admin2">

Administração Real

</a>

<a class="list-group-item"
href="/upload">

Upload

</a>

<a class="list-group-item"
href="/ping">

Ping

</a>

<a class="list-group-item"
href="/calculadora">

Calculadora

</a>

</div>